/* Accordion general */
.accordion-item {
  border: 2px solid #666;      
  border-radius: 0.6rem;
  margin-bottom: 0.4rem;
  margin-top: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.accordion-header {
  margin: 0;     
  padding: 0;    
}

.accordion-button {
  background-color: #f1f3f5;
  color: #111;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #e0e3e6;
  color: #111;
}

.accordion-body {
  background-color: #fff;
  color: #111;
  padding: 1rem 1.25rem;
}

body.dark {
  .accordion-item {
    background-color: #2b2b2b;
    border: 2px solid #ddd;        
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }

  .accordion-button {
    background-color: #2c2c2c;
    color: #eee;
  }

  .accordion-button:not(.collapsed) {
    background-color: #3c3c3c;
    color: #fff;
  }

  .accordion-body {
    background-color: #2b2b2b;
    color: #eee;
  }
  .accordion-button::after {
  filter: invert(1);  
}
}

.faq-container-custom {
  margin-bottom: 6rem;
}